<ion-header>
	<ion-toolbar>

		<ion-buttons slot="start">
			<!-- manera dificil de implementar un boton menu -->
	<!-- 		<ion-button (click)="toggleMenu()">
				<ion-icon slot="icon-only" name="menu"></ion-icon>
			</ion-button> -->	

          <!-- manera facil de implementar un menu boton -->
		<ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>			
		</ion-buttons>

		<ion-title color="primary">Componentes</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<ion-list *ngFor="let c of componentes | async">

		<ion-item [routerLink]="c.redirectTo" detail>
			<ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
			<ion-label>{{c.name}}</ion-label>
		</ion-item>

	</ion-list>

<!-- 	<ion-button [routerLink]="['/alert']">
		Alert	
	</ion-button>

	<ion-button [routerLink]="['/action-sheet']">
		Action sheet	
	</ion-button> -->

</ion-content>
