<ion-header>
  <ion-toolbar>
<!-- boton de retroceso -->
  	<ion-buttons slot="start">
  		<ion-back-button defaultHref="/"></ion-back-button>
  	</ion-buttons>

    <ion-title>avatar</ion-title>


    <ion-buttons slot="end">
    	<ion-avatar>
    		<img src="/assets/img/stan-lee.jpg">
    	</ion-avatar>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

   <ion-chip color="primary" *ngFor="let i of [1,1,1,1,1]">
        <ion-avatar>
             <img src="/assets/img/stan-lee.jpg">
        </ion-avatar>
        <ion-label>stan-lee</ion-label>
   </ion-chip>

	<ion-list>
		<ion-item *ngFor="let i of [1,1,1,1,1]">
			<ion-avatar slot="start">
				<img src="/assets/img/goku.jpg">
			</ion-avatar>
			<ion-label>goku</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
