<app-header titulo="Card"></app-header>

<ion-content>

	<ion-card mode="ios" color="primary">
		<ion-card-header>
			<ion-card-subtitle>Card Subtitle</ion-card-subtitle>
			<ion-card-title>Card Title</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			Keep close to Nature's heart... and break clear away, once in awhile,
			and climb a mountain or spend a week in the woods. Wash your spirit clean.
		</ion-card-content>
	</ion-card>



	<ion-card>
		<ion-item color="primary">
			<ion-icon name="pin" color="light"></ion-icon>
			<label>Marcador</label>
		</ion-item>

		<ion-card-content>
			Sunt amet cupidatat ea voluptate in labore et sunt aliqua duis enim commodo veniam elit officia incididunt ut.
		</ion-card-content>
	</ion-card>



	<ion-card>
		<ion-img src="/assets/shapes.svg"></ion-img>
		<ion-card-content>
			Amet nisi ut ullamco do veniam eiusmod ea dolore et aute magna ullamco aliqua culpa aliquip magna duis.
		</ion-card-content>
	</ion-card>
</ion-content>
